* {
  padding: 0%;
  margin: 0%;
  border: 2px solid red;
}

body {
  /* overflow: hidden; */
  position: relative;
  font-family: "Roboto";
}

.photo {
  height: auto;
  width: auto;
  margin: auto;
}

header {
  background-color: pink;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Playfair Display";
}

.headerPhotoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widgetsContainer {
  align-self: center;
}

.blueSquare {
  background-color: #088baa;
}

.bottomSquare {
  width: auto;
  height: 30vh;
  /* position: absolute;
  top: 80%; */
}

.widget {
  height: 1rem;
  width: 1rem;
}

/* *********************************************************** */
/* Phone */
@media (max-width: 500px) {
  .photo {
    margin: 1rem;
  }
  .mainTitle {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 6rem;
  }
}

/* *********************************************************** */
/* Tablet */
@media (min-width: 500px) and (max-width: 1000px) {
  .photo {
    /* This is just to see if the query worked */
    height: 6rem;
    width: auto;
    margin: auto;
  }
}

/* *********************************************************** */
/* Desktop */
@media (min-width: 1000px) {
  .photo {
    /* This is just to see if the query worked */
    height: 8rem;
    width: auto;
  }
}

/* .topSquare {
  width: 200vw;
  height: 200vh;
  transform: translateY(-80%) translateX(-50%) rotate(-10deg);
} */

/*  Should I be using em or rem units? */
/* Rul Rul helpful https://www.youtube.com/watch?v=VQraviuwbzU */
/* Start mobile first */
/*  Font size, use clamp() */

/*  If we want to make the photo a background image of a div:
.photoDiv1 {
  background: url("./images/IMG_2391.jpeg");
  margin:1rem;
} */

/* Icon sources:  */
/* https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-github */
/* https://fontawesome.com/icons/linkedin?f=brands&s=solid */
