* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* border: 2px solid red; */
  /* background-color: pink; */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  /* We change the size of these by changing font size */
}

body {
  position: relative;
  font-family: "Roboto";
  min-width: 220px;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.photo {
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.mainTitle {
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  color: white;
}

.title {
  font-family: "Playfair Display";
}

.headerPhotoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMeText {
  color: #565656;
  margin: 1rem;
}

.widgetsContainer {
  align-self: center;
}
.widget {
  height: 1rem;
  width: 1rem;
}

.material-symbols-outlined {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.projectCard {
  width: auto;
  margin: 2rem 1rem 0rem 1rem;
  box-shadow: 0px 0px 10px rgb(171, 171, 171);
}

.cardImage {
  width: 100%;
}

.projectSubBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-left: 1.5rem;
}

.projectDescription {
  margin: 1rem;
}

.projectWidgetsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blueWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.topSquare {
  background-color: #088baa;
  width: 300vw;
  height: 80%;
  position: absolute;
  transform: translateY(-60%) translateX(-50%) rotate(-30deg);
  /* ************************************************************************************
Use skew here instead of rotate??
************************************************************************************ */
  z-index: -1;
}

footer {
  background-color: #088baa;
  color: white;
  display: flex;
  flex-direction: column;
}

.footerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerTitle {
  font-size: 2rem;
  margin-top: 1rem;
}

.footerText {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 350;
  align-self: flex-start;
}

.phoneNumber {
  margin-bottom: 0;
}

.emailAddress {
  margin-top: 0, 1rem;
}

footer .widgetsContainer {
  color: black;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

footer .widget {
  margin: 1rem;
}

.footerPhoto {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

/* *********************************************************** */
/* Phone */
@media (max-width: 500px) {
  .photo {
    margin: 1.5rem;
  }
  .mainTitle {
    position: absolute;
    bottom: 1rem;
    left: 1.7rem;
    max-width: 6rem;
    font-size: clamp(1rem, 15vw, 5rem);
  }

  .blankImage {
    display: none;
  }
  .aboutSection {
    width: 100%;
  }

  .aboutSection .photo {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  header .widget {
    font-size: 2rem;
    margin: 0rem 1rem 8rem;
  }

  header .widgetsContainer {
    position: relative;
    right: 1rem;
  }

  .sectionTitle {
    font-size: clamp(1rem, 10vw, 3rem);
  }

  .projectsContainer {
    width: 100%;
    font-size: 16px;
  }

  .projectName {
    font-size: 1.5rem;
  }

  .material-symbols-outlined {
    font-size: 1.5rem;
    margin: 0.2rem;
  }

  .cardWidget {
    font-size: 1.5rem;
    margin: 0.2rem;
  }

  .contactInfo {
    font-size: 1rem;
  }

  .footerPhoto {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
}

/* *********************************************************** */
/* Tablet */
@media (min-width: 500px) and (max-width: 1000px) {
  /* 
* {
  border: solid 2px red;
} */

  /* *********************************************************************************
Ok, HUGE progress made. 

We should still adjust the size/scale? of the image to adjust proportions but the layout is coming together. 
********************************************************************************* */

  body {
    min-width: 650px;
  }

  .headerPhotoContainer {
    width: 23rem;
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;
    position: absolute;
  }

  .headerPhotoContainer .title {
    position: absolute;
    left: 20rem;
    min-width: 20rem;
    font-size: clamp(1rem, 15vw, 4rem);
  }

  .aboutSection {
    box-shadow: 0px 0px 10px rgb(171, 171, 171);
    display: inline;
    margin: 20rem 4rem 0;
    /* border: 2px solid yellow; */
  }

  .aboutSection .title {
    text-align: end;
    margin-right: 3rem;
  }

  .blankImage {
    height: 10rem;
    width: 20rem;
    float: left;
    opacity: 0;
    margin: 1rem 1rem 0 1rem;
    /* border: 2px solid olivedrab; */
  }

  .topSquare {
    position: absolute;
    transform: translateY(-20%) translateX(-50%) rotate(-20deg);
  }

  header .widgetsContainer {
    display: none;
  }

  main .sectionTitle {
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  main {
    margin: 4rem;
    width: auto;
  }

  .projectsContainer {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projectCard {
    margin: 0;
  }

  .footerPhoto {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .material-symbols-outlined {
    font-size: 1.2rem;
    margin: 0.2rem;
  }

  .cardWidget {
    font-size: 1.2rem;
    margin: 0.2rem;
  }

  footer {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .footerTextContainer {
    margin: auto;
  }

  .footerText {
    font-size: clamp(1rem, 2vw, 3rem);
  }
}

/* *********************************************************** */
/* Desktop */
@media (min-width: 1000px) {
  .photo {
    /* This is just to see if the query worked */
    height: 8rem;
    width: auto;
    margin: auto;
  }

  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main .sectionTitle {
    align-self: flex-start;
    margin-left: 1rem;
  }
}

/*  Should I be using em or rem units? */
/* Rul Rul helpful https://www.youtube.com/watch?v=VQraviuwbzU */
/* Start mobile first */
/*  Font size, use clamp() */

/*  If we want to make the photo a background image of a div:
.photoDiv1 {
  background: url("./images/IMG_2391.jpeg");
  margin:1rem;
} */

/* Icon sources:  */
/* https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-github */
/* https://fontawesome.com/icons/linkedin?f=brands&s=solid */

/* I'm working on the portolio project at the end of advanced HTML/CSS course, javascript path.
I've started styling the site in mobile format and am attempting to alter the style of the header when the viewport width hit the tablet breakpoint. 
I'm finding that I want to change the html heirarchy to achieve the style I want. 
For example: 
In mobile layout I want the main header positioned relative to the photo, but in tablet mode I want it positioned relative to the edge of the screen. 


Maaaaybe I'm just trying to go about it in the wrong direction. Maybe I should build the HTML for the tablet layout then use position absolute for mobile


*/
