* {
  padding: 0%;
  margin: 0%;
  /* border: 2px solid red; */
  /* background-color: pink; */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  /* We change the size of these by changing font size */
}

body {
  /* overflow: hidden; */
  position: relative;
  font-family: "Roboto";
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.photo {
  box-shadow: 0px 0px 10px rgb(171, 171, 171);
}

.title {
  font-family: "Playfair Display";
}

.headerPhotoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMeText {
  color: #565656;
  margin: 1rem;
}

.widgetsContainer {
  align-self: center;
}
.widget {
  height: 1rem;
  width: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
}

.projectCard {
  width: auto;
  margin: 1rem 1rem 0rem 1rem;
  box-shadow: 0px 0px 10px rgb(171, 171, 171);
}

.projectSubBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-left: 1.5rem;
} 

.projectDescription {
  margin: 1rem;
}

.projectWidgetsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blueSquare {
  background-color: #088baa;
}

.bottomSquare {
  width: auto;
  height: 30vh;
  /* position: absolute;
  top: 80%; */
}

/* *********************************************************** */
/* Phone */
@media (max-width: 500px) {
  .photo {
    margin: 1.5rem;
  }
  .mainTitle {
    position: absolute;
    bottom: 1rem;
    left: 1.7rem;
    max-width: 6rem;
    font-size: clamp(1rem, 15vw, 5rem);
    /*  Font size works but we need to set a low limit for the photo's width.  */
  }

.sectionTitle{
  font-size: clamp(1rem, 10vw, 3rem);
}

  .projectsContainer {
    width: 100%;
    font-size: 16px;
  }

  .projectName {
    font-size: 1.5rem;
  }

  .material-symbols-outlined {
    font-size: 1.5rem;
    margin: 0.2rem;
  }

  .cardWidget {
    font-size:1.5rem;
    margin: 0.2rem;
  }
}

/* *********************************************************** */
/* Tablet */
@media (min-width: 500px) and (max-width: 1000px) {
  .photo {
    /* This is just to see if the query worked */
    height: 6rem;
    width: auto;
    margin: auto;
  }
}

/* *********************************************************** */
/* Desktop */
@media (min-width: 1000px) {
  .photo {
    /* This is just to see if the query worked */
    height: 8rem;
    width: auto;
    margin: auto;
  }
}

/* .topSquare {
  width: 200vw;
  height: 200vh;
  transform: translateY(-80%) translateX(-50%) rotate(-10deg);
} */

/*  Should I be using em or rem units? */
/* Rul Rul helpful https://www.youtube.com/watch?v=VQraviuwbzU */
/* Start mobile first */
/*  Font size, use clamp() */

/*  If we want to make the photo a background image of a div:
.photoDiv1 {
  background: url("./images/IMG_2391.jpeg");
  margin:1rem;
} */

/* Icon sources:  */
/* https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-github */
/* https://fontawesome.com/icons/linkedin?f=brands&s=solid */
